*{
    margin: 0px;
    padding: 0px;
}

.container{
    position: relative;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 100px;
}


.imagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: beige;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 10px;  

    width: min-content;
    height: min-content;
}

.tarjeta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: #343434;
    padding: 20px;
    border-radius: 5%;
    color: white;
    font-family: 'Montserrat';

    width: min-content;
    height: max-content;

    box-shadow:3px 3px 5px 5px #ccc;
}

.header{
    font-size: .75em;

}

.name .type{
    font-size: 1.25em;
}

.logo{
    margin-bottom: 100px;
    margin-top: 100px;
}

.main{
    position: absolute;

    left: 50%; 
    transform: translate(-50%);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}